<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.1" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_3_1.xsd" id="WebApp_ID">
	<display-name>buildingManagement</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 指定spring mvc配置文件路径： 如果不指定：默认加载/WEB-INF/servlet的name-servlet.xml （固定格式） -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- 配置默认字符过滤器 -->
	<filter>
		<description>字符集过滤器</description>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<description>字符集编码</description>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 通过spring监听器加载spring配置文件 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:mybatis-spring.xml</param-value>
	</context-param>
	<listener>
		<description>spring监听器</description>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<filter>

		<filter-name>CORS</filter-name>

		<filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>

		<init-param>

			<param-name>cors.allowOrigin</param-name>   <!--配置授信的白名单的域名！ -->

			<param-value> * </param-value>

		</init-param>

		<init-param>

			<param-name>cors.supportedMethods</param-name>

			<param-value> GET, POST, HEAD, PUT, DELETE </param-value>

		</init-param>

		<init-param>

			<param-name>cors.supportedHeaders</param-name>

			<param-value> Accept, Origin, X-Requested-With, Content-Type,Last-Modified </param-value>

		</init-param>

		<init-param>

			<param-name>cors.exposedHeaders</param-name>

			<param-value> Set-Cookie </param-value>

		</init-param>

		<init-param>

			<param-name>cors.supportsCredentials</param-name>

			<param-value> true </param-value>

		</init-param>

	</filter>

	<filter-mapping>

		<filter-name>CORS</filter-name>

		<url-pattern> /* </url-pattern>

	</filter-mapping>
</web-app>
